:root {
  --primary: #262626;
  --secondary: #3b3b3b;
  --dark-theme-bg: #141414;
}

*,
*::before,
**::after {
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
}

.dark-theme {
  filter: invert(1) hue-rotate(180deg);
  background-color: var(--dark-theme-bg);
}

.dark-theme #dark-theme-btn {
  filter: invert(1) hue-rotate(180deg);
}

body {
  font-family: "Roboto", sans-serif;
  margin: auto;
  margin-bottom: 4rem;
  width: 85%;
  background-color: white;
}

.page-title {
  color: var(--primary);
  font-size: 2.75rem;
  font-weight: 700;
}

.section h1 {
  color: var(--primary);
  font-size: 2rem;
  font-weight: 500;
}

.section p {
  color: var(--secondary);
  font-size: 1rem;
  font-weight: 400;
}

.sub-section {
  margin-left: 4em;
}

#dark-theme-btn {
  float: right;
  font-size: 2rem;
  background-color: transparent;
}
